<h1>Todo</h1>
<div class = "container">
        <div>
                <label>
                  <input #username class ="adduser" placeholder = "Add username" (keyup.enter) = "adduser(username.value);username.value=''"/>
                </label>
                <!-- (click) passes input value to add() and then clears the input -->
                <!-- <button class = "add"(click)="adduser(username.value);username.value=''">
                  add
                </button> -->
              </div>
    <div class = "list">
      
            <!-- <cdk-virtual-scroll-viewport  style="height: 500px" itemSize="10" >
                    <ng-container *cdkVirtual> -->
      <div class ="user-list">
          <div class =" head">Users List</div>
       <div class = "users" *ngFor="let user of users; let j = index" >
          <span style="font-size: 20px; line-height: 12px;">
              <i class="fas fa-exclamation-circle"></i>
            </span>
          <br><br><br>
         {{j+1}}.
         <br><br><br>{{user.name}}
          <button class="destroy" (click)="removeuser(i)">x</button>
          </div>
        </div> 
       <!-- </ng-container>
    </cdk-virtual-scroll-viewport> -->
    
  </div>
</div>


