<mat-card class= "background" >
  <div class ="color-back">
      <div class ="icon">
        <span > 
          <i class = "fa fa-home " ></i>
        </span> 
      </div>
  </div>
  <mat-card class="front">
      <mat-card-header class="login_head">
          <mat-card-title>Login</mat-card-title>
        </mat-card-header>
        <mat-card-content class ="boxes">
          <div [formGroup] = "loginForm" (ngSubmit)="onSubmit()">
              <div class="form-group">
            <table class="example-full-width" cellspacing="0">
              <tr> 
                <td >
                   <mat-form-field class="example-full-width" > 
                     <input matInput placeholder="E-mail" formControlName= "email" autocomplete ="off" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                    <div *ngIf="submitted && loginForm.controls.email.errors" class="invalid-feedback">
                        <!-- <div *ngIf="f.email.errors.required">E-mail is required</div>
                        <div *ngIf="f.email.errors.email">Email must be a valid email address</div> -->
                    </div>
                </mat-form-field>
                </td>
              </tr>
              <tr>
              <td><mat-form-field class="example-full-width">
                <input matInput placeholder="Password" type ="password" autocomplete = "off" formControlName="password" class= "form-control"[ngClass]= "{ 'is-invalid': submitted && f.password.errors }">
                    <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                      <!-- <div *ngIf="f.password.errors.required">Password is required</div>
                      <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div> -->
                      </div>
              </mat-form-field>
            </td>
            </tr></table>
          </div>
        </div> 
           <mat-spinner [style.display]="showSpinner ? 'block' : 'none'"></mat-spinner> 
        </mat-card-content>
    </mat-card>
    <mat-card-actions class="submit">
        <button class="button" mat-raised-button (click)="login()" color="primary">Login</button>
      </mat-card-actions>
  </mat-card>